@import "../../../styles/card.scss";

button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.2em 0.5em; /* Ajustez le padding selon vos besoins */
  margin-right: 0.5em; /* Ajustez la marge droite pour l'espacement */
}
